.about {

    &__images {
        position: relative;
        margin-bottom: 3rem;
    }

    &__img-2 {
        max-width: 10rem;
        position: absolute;
        bottom: -2rem;
        right: 0;
    }

    &__lower {
        &-item {
            margin-bottom: 1.5em;
        }
    }
}