.about {

    &__images {
        position: relative;
        margin-bottom: 3rem;
    }

    &__img-2 {
        max-width: 10rem;
        position: absolute;
        bottom: -2rem;
        right: 0;

        @include for-tablet-up {
            max-width: 15rem;
        }
    }

    &__lower {
        @include flex-cc;
        @include for-desktop-up {
            align-items: flex-start;
        }
        &-item {
            margin-bottom: 1.5em;

            @include for-tablet-up {
                max-width: 30rem;
            }
        }
    }
}