.footer {
    padding: 2em 0;
    @include bg-image('../img/footer/footer-background.png');
    color: $clr-white;

    @include for-tablet-up {
        text-align: left;
    }

    &__content {
        display: flex;
        flex-direction: column;

        @include for-tablet-up {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__item {
        @include for-tablet-up {
            width: 33%;
        }
    }

    &__sm {
        margin-bottom: 2em;

        @include for-tablet-up {
            margin-bottom: 0;
            justify-content: flex-start;
        }
    }

    &__link {
        color: inherit;
    }

    &__logo {
        width: 12rem;
        margin-bottom: 1em;
    }
    
    &__lead {
        font-size: .95rem;
        margin-bottom: 1em;
    }

    &__title {
        font-size: 1.2rem;
        letter-spacing: 1;
        margin-bottom: .6em;

        @include for-tablet-up {
            font-size: 1.4rem;
            margin-bottom: 1em;
        }
    }

    &__contact {
        text-align: left;

        .footer__title {
            text-align: center;
            @include for-tablet-up {
                text-align: left;
            }
        }
    }

    &__list-item {
        margin-bottom: .6em;
        i {
            display: inline-block;
            margin-right: .5em;
        }
    }

    &__separator {
        margin: 1em 0;
    }

    &__copytext {
        text-align: center;
    }
}