.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(45deg, $clr-gradient-1, $clr-gradient-2);
    @include flex-center;
    z-index: 10000;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 10rem;
        z-index: 100;
    }


    &__burger {
        z-index: 100;

        @include for-desktop-up {
            display: none;
        }

        
        
        &-button {
            border: none;
            display: block;
            width: 2em;
            height: 2em;
            position: relative;
            background: transparent;
            cursor: pointer;

            &.active .header__burger-line {
                visibility: hidden;

                &::before {
                    transform: translateY(300%) rotate(-45deg);
                }
                &::after {
                    transform: translateY(-300%) rotate(45deg);
                }
            }
        }

        &-line {
            width: 100%;
            height: 2px;
            background-color: $clr-white;
            display: block;
            position: relative;

            &::before,
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background-color: inherit;
                visibility: visible;
            }

            &::before {
                @include absolute_tl(-300%, 0);
            }

            &::after {
                @include absolute_tl(300%, 0);
            }
        }
    }


    &__nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        @include bg-image('../img/banner/banner-background.png');
        color: $clr-white;
        @include flex-cc;
        justify-content: center;
        text-align: center;
        z-index: 99;
        transition: transform cubic-bezier(0.56, 0.04, 0.95, 1.23) 250ms;

        &.active {
            transform: translateX(100%);
        }


        &-item:not(:last-child) {
            margin-bottom: 1em;
        }

        &-link {
            color: inherit;
            text-transform: capitalize;
            font-size: 2rem;
        }
    }
}