.services {
    background-color: $clr-light-blue;

    &__content {
        @include flex(column, flex-start, center);

        @include for-tablet-up {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
        
    }

    &__left {
        align-self: center;
    }

    &__item {
        padding: 2em;
        background-color: $clr-white;
        border-radius: 20px;
        border-bottom: 2px solid $clr-dark-cyan;
        text-align: center;

        @include for-tablet-up {
            width: 47%;
        }

        &:nth-child(even) {
            @include for-desktop-up {
                margin-top: 2em;
            }
        }

            
        &:not(:last-child) {
            margin-bottom: 2em;
        }

        &-title {
            font-size: 1.2rem;
            margin: .5em 0;

            @include for-tablet-up {
                font-size: 1.4rem;
            }
        }

        &-text {
            font-size: .8rem;
        }

        

    }
}