.services {
    background-color: $clr-light-blue;
    &__content {
        @include flex(column, flex-start);
        
    }

    &__item {
            
        &:not(:last-child) {
            margin-bottom: 2em;
        }

        &-title {
            font-size: 1.2rem;
            margin: .5em 0;
        }

    }
}