.sm {
    display: flex;
    justify-content: center;


    &__item {
        margin: 0 .5em;

        &:first-child {
            @include for-tablet-up {
                margin-left: 0;
            }
        }
    }


    &__link {
        color: inherit;
        font-size: 1.2rem;
        width: 2em;
        height: 2em;
        display: block;
        border-radius: 50%;
        background-color: $clr-very-dark-mostly-black-blue;
        border: 1px solid $clr-light-blue;
        text-align: center;
        line-height: 2em;
        transition-property: transform;
        transition-duration: 150ms;
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

        &:hover {
            background: linear-gradient(90deg, $clr-gradient-1,  $clr-gradient-2);
            transform: translateY(-.5em);
            box-shadow: .3em .5em .5em rgba(0,0,0, .9);
        }
    }
}