*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $primary-font;
    color: $clr-primary;
    line-height: 1.6;
    background-color: $clr-white;
    @include for-tablet-up {
        font-size: 1.2rem;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $secondary-font;
}