.section {
    padding: 2em 0;
    text-align: center;

    @include for-tablet-up {
        padding: 4em 0;
    }

    &__content {
        margin-bottom: 2.5em;
    }

    &__subtitle {
        text-transform: uppercase;
        font-size: 1.2rem;
        color: $clr-secondary;
        margin-bottom: .2em;

        @include for-tablet-up {
            font-size: 1.4rem;
        }
    }

    &__title {
        font-size: 1.6rem;
        margin-bottom: .4em;

        @include for-tablet-up {
            font-size: 2rem;
        }
    }

    &__text {
        letter-spacing: 1px;
        margin-bottom: 1.5em;

        @include for-tablet-up {
            font-size: 1.2rem;
            margin-bottom: 2em;
        }
    }
}

.container {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    overflow: hidden;
    padding: 1em 0;
}

.p-0 {
    padding: 0;
}

.main-flex {
    @include flex(column, flex-start);

    

    &__item {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 4em;
        }
    }
}

.absolute-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.hide-mobile {
    @include for-phone-only {
        display: none;
    }
}