$clr-primary: #262626;
$clr-secondary: #2be0f7;
$clr-text: #787878;
$clr-accent: #2293aa;
$clr-white: #ffffff;
$clr-very-dark-grayish-blue: #3e454a;
$clr-very-dark-blue: #042237;
$clr-dark-blue: #052b45;
$clr-very-blue: #03263e;
$clr-very-dark-mostly-black-blue: #02162d;
$clr-dark-cyan: #2397ae;
$clr-light-black: #2e2e2e;
$clr-gradient-1: #02162d;
$clr-gradient-2: #36e0f7;
$clr-light-blue: #eafcfe;

$primary-font: 'Manrope', sans-serif;
$secondary-font: 'Ubuntu', sans-serif;

// Breackpoints
$phone-only: 599px;
$tablet-up: 600px;
$desktop-up: 1100px;